<!-- <nav class="style-main">
  <div class="title">
    <div class="logo">
      <img src="/images/MrLaw.jpg" alt="logo-image" class="logo-image">
    </div>
    <ul class="holder">
      <li class="navigation">
        <p>
          <a href="/">Home</a>
        </p>
      </li>
      
      <li class="navigation">
        <p>
          <a href="/about">About Us</a>
        </p>
      </li>
      <li class="navigation">
        <p>
          <a href="/music">Music Library</a>
        </p>
      </li>
      <li class="navigation">
        <p>
          <a href="/contacts">Contact Us</a>
        </p>
      </li>
      </li>
      <li class="navigation">
        <p>
          <a href="/gallery">Gallery</a>
        </p>
      </li>
    </ul>
  </div>
</nav> -->
