* {
  box-sizing: border-box;
}

:root {
  --box-size: 100vmax;
  --font-size: calc(var(--box-size) / 40);

}

body {
  margin: 0;
  border: 0;
}

body {
  background-image: url("/images/MrLaw.jpg");
}

.centering-calc {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.calc {
  width:calc(var(--box-size) * 0.5);
  background-color: black;
  color: white;
}

.screen {
  color: white;
  font-size: calc(var(--box-size)/15);
  font-family: "Courier New", Courier, monospace;
  text-align: right;
  padding: calc(var(--box-size)* 0.0012) calc(var(--box-size)* 0.0125);
}

.calc-button {
  background-color: #d8d9db;
  color: black;
  height: calc(var(--box-size) * 0.077);
  width: calc(100% / 4);
  border: none;
  border-radius: 0;
  font-size: var(--font-size);
  cursor: pointer;
}
.calc-button-row>*{
  border: 1px solid black;
}

.calc-button:hover {
  background-color: #ebebeb;
}

.calc-button:active {
  background-color: #bbbcbe;
}

.double {
  width: calc(100%/2);
}

.triple {
  width: calc((100% * 3)/4);
}

.calc-button:last-child {
  background-color: #df974c;
  color: white;
}

.calc-button:last-child:hover {
  background-color: #dfb07e;
}

.calc-button:last-child:active {
  background-color: #dd8d37;
}

.calc-button-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* margin-bottom: 0.5%; */
}

.calc-button-row:last-child {
  padding-bottom: 0;
}

